.v-speed-dial__list {
  padding: 0 !important;
}

.swal2-container {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.swal2-select {
  border: 1px solid rgb(0 0 0 / 31%);
  border-radius: 5px;
  width: 80%;
}

ul {
  list-style: none;
}

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url('/bg2.png') no-repeat center center;
  background-size: 100%;
}

.page-gray {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f7f7f7;
}

.v-dialog--scrollable .theme--light .v-card__text::-webkit-scrollbar {
  width: 10px;
}

.v-dialog--scrollable .theme--light .v-card__text::-webkit-scrollbar-track {
  background: #e6e6e645;
}

.v-dialog--scrollable .theme--light .v-card__text::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border: solid 3px #e6e6e6;
  border-radius: 7px;
}

.v-dialog--scrollable
  .theme--light
  .v-card__text::-webkit-scrollbar-thumb:hover {
  background: #686464;
  border: solid 3px #e6e6e645;
}

.v-dialog--scrollable .theme--dark .v-card__text::-webkit-scrollbar {
  width: 10px;
}

.v-dialog--scrollable .theme--dark .v-card__text::-webkit-scrollbar-track {
  background: #202020;
  border-left: 1px solid #2c2c2c;
}

.v-dialog--scrollable .theme--dark .v-card__text::-webkit-scrollbar-thumb {
  background: #3e3e3e;
  border: solid 3px #202020;
  border-radius: 7px;
}

.v-dialog--scrollable
  .theme--dark
  .v-card__text::-webkit-scrollbar-thumb:hover {
  background: white;
}

.no-select {
  /* If you want to implement it in very old browser-versions */
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* The rule below is not implemented in browsers yet */
  -o-user-select: none;

  /* The rule below is implemented in most browsers by now */
  user-select: none;
}
